:root {
	--white: #ffffff;
	--grey: #808080;
	--brown: #c38e3c;
	--sangria: #92000a;
	--black: #000000;
}


* {
	box-sizing: border-box;
	overflow-x: hidden;
}

#navbar, #logo, .navbar-children, #content, #slideshow, .card {
	opacity: 0;
	filter: blur(10px);
	transform: translateX(10rem);
	transition: opacity 0.8s, filter 0.8s, transform 0.8s;
	transition-timing-function: ease-in-out;
}

a {
	color: var(--sangria);
	text-decoration: none;
}

a:visited {
	color: var(--brown);
	text-decoration: none;
}
body {
	display: grid;
	grid-template-rows: auto auto;
}

#logo {
	height: 10vh;
}

#slideshow-image {
	object-fit: cover;
	width: 99vw;
	height: 99vh;
}

#navbar {
	width: 99vw;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.navbar-children {
	display: flex;
	flex-direction: row;
	margin-right: 3vw;
}

.navbar-children li {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 3vw;
}

#content {
	display: grid;
	width: 100%;
	gap: 1em;
	grid-template-columns: 2fr 1fr;
}

.quick-links {
	grid-row: 2 / span 4;
	grid-column: 2;
	transition-property: width, height, box-shadow;
	transition-duration: 0.8s;
}

.card {
	grid-column: 1;
	display: flex;
	width: 100%;
	border: solid var(--black);
	border-radius: 10px;
	transition-property: width, height, box-shadow;
	transition-duration: 0.8s;
	justify-content: space-between;
}

.card:hover, .quick-links:hover {
	-webkit-box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.75);
}


.card-list {
	grid-row: 1 / span 2;
	grid-column: 2;
	border-color: rgba(0, 0, 0, 0);
	width: 0;
	height: 0;
	opacity: 0;
	filter: blur(50px);
	max-width: 80%;
	transition-property: width, height, opacity, filter, flex-grow;
	transition-duration: 0.8s;
	flex-grow: 1;
}

.card-title {
	margin-top: auto;
	margin-bottom: auto;
	border-color: var(--grey);
	background-color: var(--grey);
	align-self: center;
	transition-property: width, height, opacity, filter, visibility;
	transition-duration: 0.8s;
}

.card-img {
	margin-right: auto;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#slideshow {
	grid-column: 1 / span 2;
	position: relative;
	text-align: center;
	max-width: 99vw;
}

#slideshow-tooltip {
	position: absolute;
	bottom: 1px;
	font-size: 36px;
	background: linear-gradient(rgba(1, 1, 1, 0), rgb(0, 0, 0, 0.8));
	left: 0;
	width: 100%;
	color: var(--white);
}

.card-odd {
	flex-direction: row-reverse;
}
.card-even {
	flex-direction: row;
}


.card-element-left {
	border-style: solid;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: left;
}

.card-element-right {
	border-style: solid;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: right;
}

.card-element-left .card-list-element::before {
	content: "❯"
}

.card-element-right .card-list-element::after {
	content: "❮"
}
